.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header p {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.card-header button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.card-header button:hover {
  background-color: #333;
}

.card-header button:active {
  background-color: #000;
}

.card-header button:focus {
  outline: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b8aeae;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



